/* ----------- 💫 https://github.com/JaKooLit 💫 -------- */
/* ..........Half Moon.................. */
/* NOTE: This is only for some waybar configs */
/* --- 👍 shared by https://github.com/TomekBobrowicz  👍 --- */

* {
    font-family: "Nunito", "Nerd Font";
    font-weight: bold;
	min-height: 0;  
    /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
    font-size: 97%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}


window#waybar {
    background-color: rgba(0,0,0,0.3);
    color: #c2c2c2;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 10px;
}

window#waybar.hidden {
    opacity: 0.5;
}

#waybar.empty, #waybar.tiled, #waybar.floating {
    background-color: rgba(0,0,0,0.3);
    color: #c2c2c2;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 10px;
}

window#waybar.empty{
    background-color: rgba(0,0,0,0.3);
    color: #c2c2c2;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 10px;
}


window#waybar.empty #window {
    background-color: transparent;
}

#taskbar,
#workspaces {
  background: #0F1419;
  margin: 5px;
  padding: 0px 1px;
    border-radius: 24px 24px 24px 24px;
  border: 0px;
  font-style: normal;
  color: #0F1419;
}

#taskbar button,
#workspaces button {
  padding: 0px 5px;
  margin: 4px 3px;
    border-radius: 24px 24px 24px 24px;
  border: 0px;
  color: #0F1419;
  background: linear-gradient(45deg, #9E9B9B, #9E9B9B, #9E9B9B);
  opacity: 0.5;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button.active,
#workspaces button.active {
  padding: 0px 5px;
  margin: 4px 3px;
    border-radius: 24px 24px 24px 24px;
  border: 0px;
  color: #0F1419;
  background: linear-gradient(45deg, #E6B673, #E6B673);
  opacity: 1.0;
  min-width: 40px;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    border-radius: 24px 24px 24px 24px;
  color: #0F1419;
  background: linear-gradient(45deg, #C2C2C2, #C2C2C2);
  opacity: 0.8;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);

}
@keyframes gradient_horizontal {
0% {
  background-position: 0% 50%;
	}
50% {
  background-position: 100% 50%;
	}
100% {
  background-position: 0% 50%;
	}
}

@keyframes swiping {
0% {
  background-position: 0% 200%;
	}
100% {
  background-position: 200% 200%;
	}
}

tooltip {
background: #0F1419;
border: 1px solid #D2A6FF;
border-radius: 10px;
}

tooltip label {
color: #F3F4F5;
}

#window {
	color: #dadada;
	background: #3c3c3c;
	border-radius: 24px 24px 24px 24px;
	margin: 5px;
	padding: 2px 15px;
}

#temperature,
#memory {
	color: #E6B673;
	background: #3c3c3c;
	border-radius: 10px 24px 10px 24px;
	margin: 5px;
	padding: 2px 15px;
}

#idle_inhibitor {
	color: #E6B673;
	background: #2a2a2a;
	border-radius: 8px 24px 8px 8px;
	margin: 5px;
	padding: 2px 15px;
}

#custom-swaync {
	color: #E6B673;
	background: #2a2a2a;
    border-radius: 24px 8px 24px 8px;
	margin: 5px;
	padding: 2px 15px;
}
#custom-playerlabel{
	color: #E6B673;
	background: #3c3c3c;
    border-radius: 24px 8px 8px 8px;
	margin: 5px;
	padding: 2px 15px;
}

#custom-dot_update,
#custom-hypridle,
#clock {
/*	color: #bebdc7; */
	color: #dadada;
  background: linear-gradient(45deg, #2C2C31, #2C2C31);
    border-radius: 15px 15px 15px 15px;
	margin: 1px;
	padding: 0px 10px;
}

/*-----Indicators----*/
#custom-hypridle.notactive,
#idle_inhibitor.activated {
	color: #39FF14;
	border-radius: 8px 24px 8px 8px;
}

#bluetooth {
	color: #E6B673;
	background: #3c3c3c;
	border-radius: 50px 50px;
	margin: 5px;
	padding: 5px 1px;
}


#power-profiles-daemon {
	color: #c4c4c4;
	background: #3c3c3c;
	border-radius: 8px 24px 8px 24px;
	margin: 5px;
	padding: 2px 15px;
}

#custom-light_dark{
/*	color: #bebdc7; */
	color: #E6B673;
	background: #2a2a2a;
/*	background: #3c3c3c; */
/*	border-radius: 15px; */
	border-radius: 8px 24px 8px 8px;
/*    border-radius: 24px 10px 24px 10px; */
	margin: 5px;
	padding: 2px 15px;
}

#custom-playerctl,
#custom-cycle_wall,
#cpu {
/*	color: #bebdc7; */
	color: #E6B673;
	background: #2a2a2a;
/*	background: #3c3c3c; */
/*	border-radius: 15px; */
    border-radius: 8px 8px 8px 24px;
/*    border-radius: 24px 10px 24px 10px; */
	margin: 5px;
	padding: 2px 15px;
}

#disk {
	color: #E6B673;
	background: #3c3c3c;
	border-radius: 50px 50px;
	margin: 5px;
	padding: 2px 15px;
}

#backlight,
#battery {
	color: #87b972;
	background: #2a2a2a;
	border-radius: 8px 24px 8px 24px;
	margin: 5px;
	padding: 2px 15px;
}

#mpris {
	color: #E6B673;
	background: #3c3c3c;
	border-radius: 50px 50px;
	margin: 5px;
	padding-left: 8px;
	padding-right: 2px;
}

#backlight {
	color: #E6B673;
	background: #3c3c3c;
	border-radius: 8px 24px 8px 24px;
	margin: 5px;
	padding: 2px 15px;
}

#network {
	color: #E6B673;
	background: #3c3c3c;
	border-radius: 24px 8px 24px 8px;
	margin: 5px;
	padding: 2px 15px;
}

#custom-hyprbindings {
	color: #E6B673;
	background: #3c3c3c;
	border-radius: 8px 24px 8px 24px;
	margin: 5px;
	padding: 2px 15px;
}

#tray {
	border-radius: 24px 8px 24px 8px;
	margin: 5px;
	padding: 2px 15px;
}

#pulseaudio {
	color: #E6B673;
	background: #3c3c3c;
	border-radius: 8px 24px 8px 24px;
	margin: 5px;
	padding: 2px 15px;
}

#custom-notification {
	color: #E6B673;
	background: #3c3c3c;
    border-radius: 24px 8px 24px 8px;
	margin: 5px;
	padding: 2px 15px;
}

#custom-browser,
#custom-file_manager,
#custom-tty,
#custom-settings {
	border-radius: 50px 50px;
	margin: 5px;
	padding: 2px 15px;
	color: #BBB0DB;
    background: linear-gradient(45deg, #95E6CB, #59C2FF, #D2A6FF);
}

#custom-weather {
	color: #B25AB1;
	background: #3c3c3c;
	border-radius: 50px 50px;
	margin: 5px;
	padding: 2px 15px;
}

#custom-menu {
    color: #E6B673;
  background: linear-gradient(45deg, #1C2D2F, #0f1419);
	margin: 5px 0px;
	padding: 2px 5px 2px 15px;
    border-radius: 24px 8px 8px 24px;
}

#custom-power {
    color: #E6B673;
  background: linear-gradient(45deg, #1C2D2F, #0f1419);
	margin: 5px 0px;
	padding: 2px 5px 2px 15px;
	border-radius: 8px 8px 8px 24px; 
} 

#custom-lock {
	color: #B25AB1;
	background: #3c3c3c;
	border-radius: 50px 50px;
	margin: 5px;
	padding: 2px 15px;
}

#custom-power_vertical,
#keyboard-state {
	color: green;
	background: #0F1419;
	border-radius: 50px 50px;
	margin: 5px;
	padding: 2px 15px;
}

#battery.critical:not(.charging) {
	color: #f53c3c;
	animation-name: blink;
	animation-duration: 3.0s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#backlight-slider slider,
#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
	background-color: #6E6A86;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
	background-color: purple;
}

#custom-launcher {
    color: #E6B673;
  background: linear-gradient(45deg, #0f1419, #1C2D2F);
	margin: 4px 3px;
	padding: 0px 25px 0px 15px;
	border-radius: 8px 8px 24px 8px;
	font-size: 20px; 
}